:root {
  --spacing: 25px;
  --formspacing: 20px;
  --formBorderRadius: 20px;
}

body {
  background-color: #e8eaed;
  overflow-x: hidden;
}

.trendings {
  .trendingHead {
    display: flex;
    justify-content: space-between;
  }
}

.home-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.home-section {
  width: 100%;
  margin-top: 80px;
  overflow-y: scroll;
  padding-inline: var(--spacing);
  height: calc(100vh - 80px);
  padding-block: var(--spacing);
}

.selectionDiv {
  cursor: pointer;
  display: inline-block;
  margin: 0 10px;
  color: #000000;
  font-weight: 500;
  font-size: 0.825rem;
  white-space: nowrap;
}

.selectionDivs {
  &.active {
    background-color: #2063b4;
    color: #fff;
    padding: 5px 12px;
    border-radius: 20px;
  }
}
.homeSec {
  position: relative;
  width: 100%;
  padding-left: 7.5rem;
  padding-right: 30px;
  padding-top: 100px;
  height: 100vh;
}

.sectionPart2,
.sectionPart3 {
  display: flex;
  gap: 20px;
}

.dataS {
  .col-md-6 {
    max-width: 50% !important;
    flex: 0 0 50% !important;
  }
}
.chkDigital {
  gap: 10px;
}

.statusT {
  font-size: 12px;
  color: #097709;
  font-weight: 500;
}

.innerDiv {
  gap: 10px;
  display: flex;
}
.truncate-text {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 13px;
  margin-bottom: 2px;
}

.dataS {
  .title {
    font-weight: 500;
    font-size: 15px;
    color: #000000;
    margin-bottom: 2px;
  }
}

.viewAll {
  svg {
    margin-top: -3px;
  }
}

.chkDigital {
  p {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0px;
  }
  span {
    font-size: 12px;
    color: #888;
  }
}

.switchTab {
  gap: 20px;
  margin-bottom: 10px;
}

.dataS {
  height: 85%;
  overflow: scroll;
  overflow-x: hidden;
  padding-right: 5px;
}

.leadershipCol {
  .contt {
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
    color: #ffffff;
    background-color: transparent;
    border-radius: 20px;
  }
  button {
    color: #ffffff;
  }
}

.contributionss {
  position: relative;
}

.dataS {
  img {
    aspect-ratio: 3 / 2;
    object-fit: cover;
    border-radius: 10px;
    width: 35%;
  }
}

.mainSec {
  column-gap: 10px;
  height: calc(100% - 52%);
}

.clarouselPart1 {
  border-radius: 20px;
  height: 100%;
  border-radius: 20px;
  overflow: hidden;
}
.carousel-control-prev,
.carousel-control-next {
  display: none;
}

.engagementSection {
  background-color: white;
  border-radius: 20px;
}

.carousel-item {
  position: relative;
}

.carousel-item {
  .carouselItemData {
    position: absolute;
    bottom: 10px;
    padding-inline: 20px;
    padding-block: 10px;
    .button {
      background-color: #ffffff;
      border-radius: 37px;
      padding-inline: 20px;
      font-size: 16px;
      color: #0a0a5f;
      font-weight: 500;
      width: fit-content;
      margin-bottom: 10px;
      text-transform: uppercase;
    }
  }
}

.carousel-item {
  .carouselItemData {
    .contentData {
      h2 {
        margin-bottom: 5px;
        font-size: 15px;
        font-weight: 500;
        color: #ffffff;
      }
      p {
        margin-bottom: 5px;
        font-size: 13px;
        font-weight: 400;
        color: #ffffff;
      }
    }
  }
}

.carousel-item {
  .carouselItemData {
    .authorDetails {
      font-size: 12px;
      font-weight: 100;
      color: #ffffff;
    }
  }
}

.carousel-indicators {
  margin: 0;
  left: unset !important;
  right: var(--spacing);
  bottom: var(--spacing);
  transform: translateY(10px);
  li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    &:active {
      opacity: 1;
    }
  }
}

nav {
  .menuIconDiv {
    &:hover {
      &:not(:active) {
        box-shadow: 0px 0px 12px 1px #e34c5a;
      }
    }
  }
}

.carousel {
  .carousel-item {
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.cornerLeaderpart {
  width: 100%;
  height: 100%;
  background-color: white;
  border-radius: 20px;
  .carouselItemData {
    bottom: unset;
    top: 50%;
    transform: translateY(-50%);
    p {
      font-size: 14px;
      color: white;
      font-weight: 100;
    }
    h2 {
      margin-bottom: 0px;
      font-size: 14px;
      color: white;
      font-weight: 500;
    }
    span {
      margin-bottom: 0px;
      font-size: 13px;
      color: white;
      font-weight: 300;
    }
  }

  .carousel-indicators {
    left: var(--spacing) !important;
    right: unset;
    bottom: var(--spacing);
  }
}

.cornerLeaderpart {
  .carousel-item {
    border-radius: 20px;
    background: linear-gradient(to bottom, #26afaf, #0a0a5f);
  }
}

.cornerLeaderpart .carousel-inner,
.cornerLeaderpart .carousel-item,
.cornerLeaderpart .bgImg {
  height: 100%;
  border-radius: 20px;
}

.clarouselPart1 .carousel-inner,
.clarouselPart1 .carousel-item,
.clarouselPart1 img {
  height: 100%;
}

.cornerLeader {
  h2 {
    font-size: 22px;
  }
}

.engagementSection {
  .checkboxes {
    padding-right: 20px;
    margin-top: 10px;
    label {
      font-size: 10px;
      display: flex;
      font-weight: 500;
    }
    input[type="checkbox"] {
      margin-right: 2px;
    }
  }
}

.checkDiv {
  position: absolute;
  bottom: 0;
  width: 96%;
  /* padding-right: 20px; */
  padding-left: -20%;
  margin-left: -20px;
  padding-inline: 20px;
  background-color: white;
  border-radius: 20px;
}

.engagementSection {
  padding-left: 20px;
  padding-right: 5px;
  padding-block: 20px;
  height: 100%;
}

.contributionss {
  padding: 20px;
  border-radius: 20px;
  background-color: #ffffff;
}

.mainSec {
  .col-md-6 {
    flex: 0 0 39%;
    max-width: 39%;
    height: 100%;
  }
  .col-md-3 {
    flex: 0 0 29%;
    max-width: 29%;
    height: 100%;
  }
  .col-md-9 {
    flex: 0 0 69%;
    max-width: 69%;
    height: 100%;
    box-shadow: 0px 3px 6px #00000029;
  }
}

.leadership {
  padding: 0px;
}

.leadership {
  .leadershipCol {
    .headDiv {
      hr {
        border-bottom: 2px solid #ffffff;
        opacity: 0.4;
        margin-block: 5px;
      }
    }
  }
}

hr {
  border-bottom: 3px solid #ffffff;
  opacity: 0.4;
  margin-block: 10px;
}

.leadership {
  .leadershipCol {
    padding: 20px;
    background: linear-gradient(to right, #7552c4, #5a47cb);
    height: 100%;
    width: 100%;
    border-radius: 20px;
    .headDiv {
      h2 {
        font-size: 1.125rem;
        margin-bottom: 0px;
        color: #ffffff;
      }
    }
  }
}

.engagementSection {
  .headingPart {
    padding-right: 15px;
    margin-bottom: 10px;
    h2 {
      font-size: 1.125rem;
      margin-bottom: 0px;
    }
  }
}
.contributionss {
  .headingPart {
    h2 {
      font-size: 1.125rem;
      margin-bottom: 5px;
    }
  }
}

.engagementSection .headingPart button svg,
.contributionss .headingPart button svg {
  margin-top: -4px;
}

.stickyPopup {
  position: fixed;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  box-shadow: 0px 0px 26px #c95ab5;
  background-color: white;
  border-radius: 11px;
  z-index: 1;
  right: 40px;
  bottom: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
  img {
    width: 50px;
  }
}

.engagementSection .headingPart button,
.contributionss .headingPart button {
  border-radius: 20px;
  background-color: #2063b4;
  color: #ffffff;
  font-size: 11px;
  border: none;
  padding-inline: 20px;
  padding-block: 6px;
}

.engagementSection {
  .scrollableDiv {
    .engagementData {
      padding: 10px;
      border-radius: 10px;
      margin-right: 18px;
      .calender {
        min-width: 15%;
      }
      .date {
        height: 38px;
        background-color: #f0f0f0;
        font-size: 22px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .month {
        background-color: #000000;
        color: #ffffff;
        height: 25px;
        align-items: center;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        font-size: 12px;
        text-transform: uppercase;
        display: flex;
        justify-content: center;
      }
      .data {
        padding-inline: 10px;
      }
    }
  }
}

.engagementSection .viewAll button,
.contributionss .viewAll button,
.leadershipCol .viewAll button {
  border: none;
  background-color: unset;
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 500;
  margin-bottom: 10px;
}

.viewAll {
  button {
    &:focus {
      outline: none;
    }
  }
}

.viewAll {
  img {
    width: 18px;
    margin-left: 3px;
    margin-top: -2px;
  }
}

.engagementSection {
  .scrollableDiv {
    .engagementData {
      .data {
        p {
          color: #4a4a4a;
          font-size: 12px;
          margin-bottom: 0px;
        }
        span {
          margin-left: 5px;
          color: #9f257a;
          font-weight: 500;
        }
      }
    }
  }
}

.authorStatus {
  font-size: 12px;
  color: #000000;
  font-weight: 500;
}

.engagementSection {
  .scrollableDiv {
    height: calc(100% - 70px);
    overflow: scroll;
    overflow-x: hidden;
    padding-bottom: 30px;
    .engagementData {
      .data {
        h2 {
          font-size: 16px;
          font-weight: 500;
          margin-bottom: 0px;
        }
      }
      &.feedbackData {
        background-color: #fffbdd;
      }
      &.registerData {
        background-color: #ebffee;
      }
      &.closedData {
        background-color: #ffeefc;
      }
      &.completedData {
        background-color: #d0d0d0;
      }
    }
  }
}

.engagementSection {
  .scrollableDiv {
    .engagementData {
      &:not(:first-child) {
        margin-top: 15px;
      }
    }
  }
}

.scrollableDiv::-webkit-scrollbar,
.dataS::-webkit-scrollbar {
  width: 3px;
}
.scrollableDiv::-webkit-scrollbar-thumb,
.dataS::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 5px;
}
.scrollableDiv::-webkit-scrollbar-thumb:hover,
.dataS::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.scrollableDiv::-webkit-scrollbar-track,
.dataS::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.engagementSection {
  .checkboxes {
    input[type="checkbox" i] {
      background-color: red;
    }
  }
}

.leaderImg1 img,
.leaderImg3 img {
  width: 4rem;
  height: 4rem;
}
.leaderImg2 {
  img {
    width: 6.25rem;
    height: 6.25rem;
  }
  .img2 {
    border-radius: 50%;
    border: 9px solid #f1ba4d;
    box-shadow: 0px 0px 15px 5px #f1ba4d;
  }
}
.leaderImg1 {
  .img1 {
    border-radius: 50%;
    border: 9px solid #54b09f;
    box-shadow: 0px 0px 15px 5px #54b09f;
  }
}
.leaderImg3 {
  .img3 {
    border-radius: 50%;
    border: 9px solid #e34c5a;
    box-shadow: 0px 0px 15px 5px #e34c5a;
  }
}

.myContriTabUnderline {
  border-bottom: 3px solid #2063b4;
}

.myteamContriTabRemoveUnderline {
  border-bottom: none;
}

#myContriTab,
#myteamContriTab {
  cursor: pointer;
}

.leaderImg1 p,
.leaderImg2 p,
.leaderImg3 p {
  color: white;
  font-size: 12px;
  margin-bottom: 6px;
}

.leadershipCol {
  .nameDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      margin-bottom: 0px;
      font-size: 14px;
    }
    .name {
      word-break: break-word;
      overflow-wrap: break-word;
      max-width: 5rem;
      font-size: 14px;
      font-weight: 500;
    }
    span {
      font-weight: 700;
    }
  }
}

.trendings {
  width: 100%;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 20px;
  height: fit-content !important;
}

.trendings {
  .trendingHead {
    h2 {
      font-size: 1.125rem;
      font-weight: 500;
      margin-bottom: 0px;
    }
  }
  .owl-dots {
    text-align: center;
    margin-top: 15px;
  }
  .owl-dot {
    background: #d0d0d0 !important;
    border-radius: 50%;
    display: inline-block;
    height: 7px;
    margin: 0 5px;
    width: 7px;
    opacity: 1;
    transition: background 0.3s;
    &.active {
      background: #8d8d8d !important;
    }
    &:focus {
      outline: none;
    }
  }
  .item {
    display: flex;
    gap: var(--spacing);
  }
  .titlee {
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 0px;
  }
  img {
    height: auto;
    width: 35% !important;
    object-fit: cover;
    border-radius: 10px;
  }
}

.formheadingSection {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  gap: 10px;
  img {
    width: 30px;
    height: 30px;
  }
  h1 {
    font-size: 24px;
    color: #1a5193;
    font-weight: 700;
    white-space: nowrap;
    text-wrap: nowrap;
    margin-bottom: 0px;
  }
  hr {
    height: 4px;
    width: 100%;
    margin-top: unset;
    border-top: unset;
    margin-bottom: 0px;
    opacity: 1;
    border-bottom: 3px solid #1a5193;
  }
}

.copyRight {
  margin-top: 20px;
  font-size: 14px;
  color: #898989;
}

.form-group {
  font-size: 0.5rem;
  display: block;
  margin-bottom: 0px;
  input {
    padding: 0;
    height: initial;
    width: initial;
    margin-bottom: 0;
    display: none;
    cursor: pointer;
    &:checked {
      & + label {
        &:after {
          content: "";
          display: block;
          position: absolute;
          top: 1px;
          left: 5px;
          width: 6px;
          height: 12px;
          border: solid #0079bf;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
        }
      }
    }
  }
  label {
    position: relative;
    cursor: pointer;
    color: #000000;
    &:before {
      content: "";
      -webkit-appearance: none;
      background-color: transparent;
      border: 2px solid #0079bf;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05),
        inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
      padding: 7px;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      cursor: pointer;
      margin-right: 5px;
    }
  }
  &.feed {
    label {
      &:before {
        background-color: #fffbdd;
        border: 1px solid #f5ea95;
      }
    }
  }
  &.register {
    label {
      &:before {
        background-color: #ebffee;
        border: 1px solid #bfe2c4;
      }
    }
  }
  &.closed {
    label {
      &:before {
        background-color: #ffeefc;
        border: 1px solid #f7b1eb;
      }
    }
  }
  &.complete {
    label {
      &:before {
        background-color: #d0d0d0;
        border: 1px solid #a3a2a2;
      }
    }
  }
}

.formSection {
  .historyContent {
    .commentTable {
      thead {
        tr {
          border-color: #707070;
        }
      }
      tbody {
        tr {
          &:last-child {
            border-color: #f7f7f7;
          }
        }
      }
    }
  }
}

@media (max-width: 1300px) {
  .mainSec {
    .col-md-6 {
      flex: 0 0 39%;
      max-width: 39%;
      height: 100%;
    }
    .col-md-3 {
      flex: 0 0 29%;
      max-width: 29%;
      height: 100%;
    }
    .col-md-9 {
      flex: 0 0 69%;
      max-width: 69%;
      height: 100%;
    }
  }
}

@media (max-width: 1195px) {
  .cornerLeaderpart {
    .carouselItemData {
      p {
        margin-bottom: 5px;
      }
    }
  }
}
@media (max-width: 767px) {
  .engagementSection .headingPart button,
  .contributionss .headingPart button {
    padding-block: 6px;
  }
  .mainSec {
    .col-md-6 {
      flex: 0 0 100%;
      max-width: 100%;
    }
    .col-md-3 {
      flex: 0 0 99% !important;
      margin-top: 10px;
      max-width: 99% !important;
      height: 100%;
      &.engSec {
        margin-top: 10px;
        flex: 0 0 100%;
        max-width: 100%;
      }
    }
    .col-md-9 {
      margin-top: 10px;
    }
  }
  .engagementSection .headingPart button svg,
  .contributionss .headingPart button svg {
    margin-top: -6px;
  }
  .leadership {
    .leadershipCol {
      margin-top: 0px;
    }
  }
  .dataS {
    .col-md-6 {
      max-width: 100% !important;
      flex: 0 0 100% !important;
      &:nth-child(2) {
        margin-top: 15px;
      }
    }
  }
  .innerDiv {
    margin-bottom: 18px;
  }
}

@media (max-width: 1000px) {
  .homeSec {
    padding-left: 30px;
  }
}

@media (resolution: 1dppx) {
  .home-section .nuggetSection,
  .home-section .formSection,
  .formheadingSection,
  .copyRight,
  .popupModal,
  .portLandStartupPage,
  .enagegementPage {
    zoom: 1.2;
  }
}

@media (max-resolution: 1.5dppx) and (min-resolution: 1.3dppx) {
  header {
    zoom: 0.8;
  }
  .tab-row {
    zoom: 0.8;
  }
  .leadershipPosts {
    zoom: 1.1;
  }
  nav {
    zoom: 0.8;
    height: 125vh !important;
  }
  .home-section {
    margin-top: 64px !important;
  }

  .home-section .nuggetSection,
  .home-section .formSection,
  .formheadingSection,
  .copyRight,
  .popupModal,
  .portLandStartupPage,
  .enagegementPage {
    zoom: 0.8;
  }
  .formSection .columnDivs .tooltip-content {
    min-width: 450px !important;
  }
}

.home-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.home-section {
  width: 100%;
  margin-top: 80px;
  overflow-y: scroll;
  padding-inline: var(--spacing);
  overflow-x: hidden;

  .portLandStartupPage {
    padding-block: var(--formspacing);
    padding-inline: 30px;
    background-color: #ffffff;
    border-radius: var(--formBorderRadius);
    box-shadow: 0px 3px 6px #00000029;

    .startupTableData {
      h2 {
        font-size: 13px;
        margin-bottom: 0px;
        font-weight: 500;
      }
      p {
        font-size: 14px;
        font-weight: 400;
        margin-bottom: 0px;
      }
      .adminSelect {
        margin-top: 3px;
        line-height: 1;
        font-size: 14px;
      }
      .adminSelect:focus {
        border-color: #c7c7c7;
        box-shadow: none;
      }
    }

    .registerNow {
      display: flex;
      gap: 25px;
      margin-top: 20px;
      align-items: center;
      .paraDiv {
        width: 70%;
        .agendaDiv {
          background-color: #f7f7f7;
          padding: 20px;
          h2 {
            font-size: 13px;
            margin-bottom: 0px;
            font-weight: 500;
          }
          p {
            font-size: 14px;
          }
        }
        .paraactualData {
          margin-top: 20px;
          p {
            font-size: 14px;
          }
        }

        
      }
      .imgDiv {
        width: 30%;
        img {
          width: 100%;
          height: 100%;
          max-width: 500px;
          max-height: 500px;
          border-radius: 22px;
        }
      }
    }

    .regbutton {
      button {
        background-color: #2162b4;
        color: #ffffff;
        font-size: 14px;
        border: none;
        padding-inline: 25px;
        padding-block: 8px;
        font-weight: 400;
      }
    }

    .adminMain{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: end;

      .adminSubmits {
        display: flex;
        align-items: end;
        gap: 20px;
        width: 70%;
        .columnDivs {
          width: 70%;
          h2 {
            margin: 0px;
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 6px;
  
            span {
              color: #fb0000;
              font-weight: 600;
              margin-left: 2px;
              /* margin-top: -30px; */
              // position: absolute;
              top: -4px;
            }
          }
          .form-control {
            padding: 0px;
            height: 100%;
            line-height: 2.38;
            &:focus {
              box-shadow: none;
            }
          }
          input[type="file"]::-webkit-file-upload-button {
            width: 25%;
            line-height: 26px !important;
  
            margin-left: -1px;
            margin-right: 12px !important;
          }
          input[type="text"],
          select {
            background-color: #ffffff;
            border: 1px solid #c7c7c7;
            padding: 0;
            width: 100%;
            border-radius: 9px;
            height: 40px;
            padding-inline: 10px;
  
            &:focus-visible {
              outline: none;
            }
          }
  
          input[type="text"].filled {
            background-color: #f4f4f4 !important; /* Change to desired color */
          }
  
          .selectInput {
            height: 40px;
            position: relative;
            img {
              position: absolute;
              width: 20px;
              height: 20px;
              right: 10px;
              top: 50%;
              transform: translateY(-50%);
            }
            .dropDownList {
              display: none;
              margin-top: 5px;
              border: 1px solid #c7c7c7;
              border-radius: 9px;
              width: 100%;
              position: absolute;
              z-index: 1;
              background-color: #ffffff;
              ul {
                margin-bottom: 0px;
                list-style: none;
                padding: 0px;
                width: 100%;
                li {
                  padding-block: 5px;
                  padding-inline: 10px;
                  &:hover {
                    background-color: #e8eaed;
                  }
                }
              }
            }
          }
  
          label {
            color: #fb0000;
            font-size: 14px;
            display: none;
          }
        }
  
        .allowFeedback
        {
          width: 25%;
          h2 {
            margin: 0px;
            font-size: 14px;
            font-weight: 600;
            margin-bottom: 6px;
  
            span {
              color: #fb0000;
              font-weight: 600;
              margin-left: 2px;
              /* margin-top: -30px; */
              // position: absolute;
              top: -4px;
            }
          }
          .adminSelect{
            width: fit-content;
            height: fit-content;
            border-radius: 9px;
            border-color: #c7c7c7;
            width: 100%;

            &:focus{
              
                border-color: #c7c7c7;
                box-shadow: none;
              
            }
          }

        }
  
        
  
        .columnDivs {
          .toolTipIcon {
            width: 13px;
            height: 13px;
            margin-left: 10px;
            margin-bottom: 6px;
          }
          /* Tooltip container */
          .tooltip-container {
            position: relative;
            display: inline-block;
          }
  
          /* Tooltip content */
          .tooltip-content {
            visibility: hidden;
            min-width: 500px;
            background-color: #0000009f;
            color: #fff;
            border-radius: 9px;
            border-top-left-radius: 0px;
            padding: 5px;
            position: absolute;
            z-index: 1;
            top: 40%; /* Position above the image */
            left: 50%;
            margin-left: 10px; /* Adjust this value as needed */
            opacity: 1;
            transition: opacity 0.3s;
            box-shadow: 0px 3px 6px #00000065;
            font-size: 12px;
            font-weight: 500;
          }
  
          /* Show the tooltip when hovering over the container */
          .tooltip-container:hover .tooltip-content {
            visibility: visible;
            opacity: 1;
          }
        }
      }

      .subBtn{
        button{
          padding-inline: 50px;
        }
      }
    }
    
  }
}

@media (max-width: 1000px) {
  .home-section {
    .portLandStartupPage {
      padding-inline: 20px !important;
      .registerNow {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
        .paraDiv {
          width: 100%;
        }
        .imgDiv {
          width: 100%;
          img {
            max-width: unset;
            max-height: unset;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 1000px) {
  .home-section {
    .portLandStartupPage {
      .registerNow {
        .imgDiv {
          text-align: center;
          img {
            max-width: 400px;
            max-height: 400px;
          }
        }
      }
    }
  }
}

header {
  position: fixed;
  top: 0;
  height: 80px;
  background: linear-gradient(to right, #8147a9, #bb044d);
  z-index: 100;
  width: 100%;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;

  .headerMainDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    /* justify-content: center; */
    padding-inline: 20px;

    .logoDiv {
      display: flex;
      gap: 30px;

      img {
        &:first-child {
          width: 9.375rem;
        }
      }
    }
    .logoDiv1 {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    .headerRight {
      gap: 40px;
      align-items: center;

      .searchDiv {
        padding-inline: 10px;
        padding-block: 2px;
        border-radius: 20px;
        background-color: white;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding-block: 5px;

        input {
          border-inline: none;
          border-top: none;
          border-color: #fff;
          border-bottom: none;
          font-size: 13px;

          &::placeholder {
            font-size: 12px;
            color: gray;
          }

          &:focus-visible {
            outline: none;
          }
        }

        svg {
          margin-right: 8px;
        }
      }
      .userInfoDiv {
        display: flex;
        gap: 10px;

        .userImgContainer {
          height: 45px;
          width: 45px;
          background-color: white;
          /* border: 2px solid white; */
          border-radius: 50%;

          img {
            height: 100%;
            width: 100%;
            object-fit: fill;
            border-radius: 50%;
          }
        }
        span {
          font-size: 14px;
          color: #fff;
        }
        p {
          font-size: 14px;
          color: #fff;
          margin-bottom: 0px;
        }
        .opensubMenu {
          position: relative;

          .submenu {
            display: none;
            position: absolute;
            background-color: white;
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
            padding: 12px;
            z-index: 1;
            bottom: -90px;
            right: 6px;
            color: #000000;
            border: 2px solid #8d3896;
            /* border-top-left-radius: 30px; */
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;

            h5 {
              font-size: 12px;
              text-wrap: nowrap;
              white-space: nowrap;
            }
          }
        }
      }
      .arrow {
        cursor: pointer;
        display: flex;
        align-items: end;
        justify-content: center;
        color: #ffffff;
        top: -2px;

        .arrowRotate {
          transform: rotate(180deg);
        }
      }
    }
    .hamburgerIcon {
      display: none;
    }
  }
}

@media (max-width: 768px) {
  header {
    .headerMainDiv {
      padding-inline: 10px;
      .logoDiv {
        gap: 15px;
        align-items: center;

        img {
          height: 30px;

          &:first-child {
            width: unset;
            height: 25px;
          }
        }
      }
      .logoDiv1 {
        img {
          width: 172px;
        }
      }
      .headerRight {
        .searchDiv {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  header {
    .headerMainDiv {
      .logoDiv {
        gap: 15px;
        img {
          height: 25px;
        }
      }
      .headerRight {
        .searchDiv {
          input {
            width: 60px;
          }
        }
        .userInfoDiv {
        }
      }
    }
  }
}

@media (max-width: 1000px) {
  header {
    .headerMainDiv {
      .headerRight {
        .userInfoDiv {
          display: none;
        }
      }
      .hamburgerIcon {
        display: block;
      }
    }
  }
}

//nav

nav {
  height: 100vh;
  flex-direction: column;
  display: flex;
  gap: 20px;
  align-items: center;
  top: 0;
  width: 5rem;
  background-color: #fff;
  z-index: 9;
  padding-top: 100px;

  .menuIconDiv {
    background: white;
    cursor: pointer;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
    padding: 15%;
    width: 2.813rem;
    height: 2.813rem;

    &.active {
      background: linear-gradient(to right, #8147a9, #bb044d) !important;

      svg {
        fill: #ffffff;
      }
    }

    img {
      width: 20px;
      vertical-align: middle;
      height: 80%;
      height: 20px;
    }

    .customTool {
      display: none;
      white-space: nowrap;
      position: absolute;
      padding-inline: 20px;
      top: -17px;
      right: 0;
      background-color: #fff;
      border-top-left-radius: 25px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
      border: 2px solid #8d3896;
      box-shadow: inset 0px 3px 6px #00000029;
      transform: translateX(100%);
    }
  }
}

@media (max-width: 1000px) {
  nav {
    display: none;
  }
}

// mobileMenus

.mobileMenus {
  padding-top: 16px;
  padding-bottom: 20px;
  width: 30%;
  background-color: #fff;
  position: fixed;
  right: 100%;
  top: 0;
  height: 100%;
  z-index: 120;

  flex-direction: column;
  align-items: center;
  overflow: scroll;
  transition: left 0.9s ease; /* Add transition for smooth sliding */

  &.active {
    right: 0;
  }

  .closeMenu {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 25px;
  }

  .userInfoDiv {
    padding: 20px;

    .userImgContainer {
      height: 45px;
      width: 45px;
      background-color: white;
      /* border: 2px solid white; */
      border-radius: 50%;
      margin-right: 5px;
      background-color: #2d509f;
      border: 3px solid #2d509f;

      img {
        height: 100%;
        width: 100%;
        object-fit: fill;
        border-radius: 50%;
      }
    }

    .mobileNavItems {
      gap: 10px;

      .menuIconDiv {
        border-radius: 12px;
        height: 60px;
        width: 58px;
        background: white;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);

        svg {
          fill: #2063b4;
        }

        &:not(:first-child) {
          margin-top: 5px;
        }
      }
    }

    p {
      font-size: 16px;
      color: #2d509f;
      font-weight: 700;
      margin-bottom: 0px;
    }

    span {
      font-size: 15px;
      color: #2d509f;
      font-weight: 700;
    }
  }
}

@media (max-width: 767px) {
  .mobileMenus {
    width: 80%;
  }
}

// others

.leadershipPosts {
  margin-top: 5px;
  height: 75%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 110;

  &.active {
    display: block;
  }
}

.customTool {
  display: none;
  white-space: nowrap;
  position: absolute;
  padding-inline: 20px;
  top: -17px;
  right: 0;
  background-color: #fff;
  border-top-left-radius: 25px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 2px solid #8d3896;
  box-shadow: inset 0px 3px 6px #00000029;
  transform: translateX(100%);
}

@media (max-width: 400px) {
  .dataS {
    height: 60%;
  }
}

@media (max-width: 767px) {
  .mobileMenus {
    width: 80%;
  }
  .addBtn {
    display: none;
  }

  .contributionss {
    .headingPart {
      display: block !important;

      .btnDiv {
        text-align: right;

        button {
          margin-bottom: 10px;
          min-height: 20px;
        }
      }

      button {
        margin-bottom: 10px;
        min-height: 20px;
      }
    }
  }
  .dataS {
    height: 75%;
  }
  .trendings {
    .trendingHead {
      display: block;
    }
  }
}
