:root {
    --spacing: 25px;
    --tab-height: 86px;
  }

 .Add-ring{
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    right: var(--spacing);

    img{
        width: 70px;
    }
 } 

.team-contri-card{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 20px;
    width: 100%;
    min-height: 300px;
    box-shadow: 0px 3px 6px #00000029;
    margin-top: calc(20px + var(--tab-height) / 2);
    position: relative;

    .team-contri-header{
        width: 100%;
        display: flex;
        justify-content: center;

        .team-contri-head{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: var(--spacing);
            min-height: var(--tab-height);
            margin-top: calc(var(--tab-height)/-2);

    
            .team-contri-tab{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                background: #FFFFFF 0% 0% no-repeat padding-box;
                border-radius: 10px;
                padding: 15px;
                width: 300px;
                max-width: 300px;
                
    
                .tab-data{
                    font-size: 21px;
                    line-height: 28px;
                    letter-spacing: 0;
                    text-align: left;
                    margin-bottom: 0;
                    white-space: wrap;
                    font-weight: 500;
                    width: 50%;
                }
    
                .tab-no{
                    font-size: 38px;
                    line-height: 50px;
                    font-weight: 600;
                    letter-spacing: 0;
                    margin-bottom: 0;
                }
                &.tab-1{
                    border: 2px solid #967B1F;
                    color: #967B1F;
                }
                &.tab-2{
                    border: 2px solid #AF6026;
                    color: #AF6026;
                }
                &.tab-3{
                    border: 2px solid #397304;
                    color: #397304;
                }
                &.tab-4{
                    border: 2px solid #103F74;
                    color: #103F74;
                }
            }
        }
        
    }

    .table-box{
        padding: var(--spacing);
        overflow: hidden;
        .team-contri-table{
            width: 100%;
            max-height: calc(100vh - (200px + 3* var(--spacing) + 90px));
            overflow:auto ;
    
            table{
                width: 100%;
                tbody{
                    .table-head{
                        position: sticky;
                        top: -1px;
                        z-index: 10;
                        box-shadow: 0px 1px 0px 0px #919191;
                        th{
                            font-size: 18px;
                            line-height: 20px;
                            letter-spacing: 0;
                            font-weight: 500;
                            color: #B30C58;
                            background: #FFFFFF 0% 0% no-repeat padding-box;
                            padding-bottom: 20px;
                            vertical-align: baseline;
                            &:first-child{
                                position: sticky;
                                padding-right: 0;
                                left: -1px;
                            } 
                        }
                        
                    }
        
                    .table-row{
                        &.table-row:nth-child(odd) td{
                            background-color:#F7F7F7 !important;
                        }
                        
                        td{
                            padding-right:8px;
                            background: #FFFFFF 0% 0% no-repeat padding-box;
                            vertical-align: baseline;
                            padding-top: 10px;
                            padding-bottom: 50px;
                            
                            &:first-child{
                                position: sticky;
                                padding-right: 0;
                                left: -1px;
                            }
        
                        }
                        
                    }
    
                    .td-md{
                        width: 14%;
                    }
                    .td-sm{
                        width: 7%;
                    }
                }
            }
        }
    }

    
}

/* Tablet ----------------------------------------------- */
@media (max-width: 1200px) and (min-width: 768px) {
    .team-contri-table{
        max-height: calc(100vh - (200px + 5* var(--spacing) + 70px)) !important;
        table{
            
            tr{
                th:first-child{
                    border-bottom: 3px solid #8b8b8b;
                }
                td{
                    padding-right:8px !important;
                    min-width: 120px;
                    &:last-child{
                        padding-right: 0 !important;
                    }
                }
                .description{
                    min-width: 180px;
                }
            }
        }
    }
}

/* Mobile ----------------------------------------------- */
@media (max-width: 767px) {
    .team-contri-table{
        table{
            tr{
                th:first-child{
                    border-bottom: 3px solid #8b8b8b;
                }
                td{
                    min-width: 120px;
                    &:last-child{
                        padding-right: 0 !important;
                    }
                }
                .description{
                    min-width: 180px;
                }
            }
        }
    }

    .team-contri-tab{
        width: 42% !important;
        flex-direction: column !important;
        .tab-data{
            width: 100% !important;
            text-align: center !important;
        }
        .tab-no{
            font-size: 32px !important;
        }

    }
}


  /* Screen resolution 125% ----------------------------------------------- */
  @media (min-resolution: 1.25dppx) {
    .team-contri-card{
        zoom: 0.9;
    }
    .table-box{
        .team-contri-table{
            min-height: 500px;
        }
        table{
            tr{
                th{
                    white-space: nowrap;
                }
                .td-md{
                    width: 13%;
                }
                .td-sm{
                    width: 8% !important;
                }
            }
        }
    }
  }
  
  /* Screen resolution 150% ----------------------------------------------- */
  
  @media (max-resolution: 1.5dppx) and (min-resolution: 1.3dppx) {
    .team-contri-card{
        .team-contri-header{
            zoom: 0.7;
        }

        .table-box{
            .team-contri-table{
                min-height: 500px;
            }
            zoom: 0.8;
            table{
                tr{
                    th{
                        white-space: nowrap;
                    }
                    .td-md{
                        width: 12%;
                    }
                    .td-sm{
                        width: 9% !important;
                    }
                }
            }
        }

        .Add-ring{
            zoom: 0.8;
        }
    }
   
  }
  


  

header{
    position: fixed;
    top: 0;
    height: 80px;
    background: linear-gradient(to right, #8147a9, #bb044d);
    z-index: 100;
    width: 100%;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  
    .headerMainDiv{
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      /* justify-content: center; */
      padding-inline: 20px;
  
      .logoDiv {
        display: flex;
        gap: 30px;
  
        img{
  
          &:first-child{
            width: 9.375rem;
          }
        }
      }
      .logoDiv1{
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
      .headerRight{
        gap:40px;
        align-items: center;
  
        .searchDiv {
          padding-inline: 10px;
          padding-block: 2px;
          border-radius: 20px;
          background-color: white;
          height: fit-content;
          display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            padding-block: 5px;
  
            input {
              border-inline: none;
              border-top: none;
              border-color: #fff;
              border-bottom: none;
              font-size: 13px;
  
              &::placeholder{
                font-size: 12px;
                color: gray;
              }
  
              &:focus-visible{
                outline: none;
              }
             
            }
  
            svg{
              margin-right:8px;
            }
        }
        .userInfoDiv {
          display: flex;
          gap: 10px;
  
          .userImgContainer {
    
            height: 45px;
            width: 45px;
            background-color: white;
            /* border: 2px solid white; */
            border-radius: 50%;
  
                img {
                  height: 100%;
                  width: 100%;
                  object-fit: fill;
                  border-radius: 50%;
                }
          }
          span {
            font-size: 14px;
            color: #fff;
          }
          p {
            font-size: 14px;
            color: #fff;
            margin-bottom: 0px;
          }
          .opensubMenu{
  
             position: relative;
  
            .submenu {
              display: none;
              position: absolute;
              background-color: white;
              box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
              padding: 12px;
              z-index: 1;
              bottom: -90px;
              right: 6px;
              color: #000000;
              border: 2px solid #8d3896;
              /* border-top-left-radius: 30px; */
              border-bottom-left-radius: 15px;
              border-bottom-right-radius: 15px;
  
            h5{
              font-size: 12px;
              text-wrap: nowrap;
              white-space: nowrap;
            }
           
        }
          }
        }
        .arrow {
          cursor: pointer;
          display: flex;
          align-items: end;
          justify-content: center;
          color: #ffffff;
          top: -2px;
  
          .arrowRotate{
            transform: rotate(180deg);
          } 
          
        }
      }
      .hamburgerIcon {
        display: none;
      }
    }
  }
  
  
  
  @media (max-width: 768px){
    header{
      .headerMainDiv{
        padding-inline: 10px;
        .logoDiv {
          gap: 15px;
          align-items: center;
  
            img {
              height: 30px;
  
              &:first-child{
                width: unset;
                height: 25px;
              }
            }
        }
        .logoDiv1{
          img{
            width: 172px;
          }
        }
        .headerRight{
  
          .searchDiv {
            display: none;
          }
        }
      }
    }
    
  }
  
  @media (max-width: 450px){
    header{
      .headerMainDiv{
        .logoDiv {
          gap: 15px;
            img {
              height: 25px;
            }
        }
        .headerRight{
  
          .searchDiv {
  
            input {
              width: 60px;
            }
          }
          .userInfoDiv{
          }
        }
      }
    }
    
  }
  
  @media (max-width: 1000px){
    header{
      .headerMainDiv{
        .headerRight{
  
          .userInfoDiv {
            display: none;
          }
        }
        .hamburgerIcon {
          display: block;
        }
      }
    }
    
  }
  
  
  
  
  //nav
  
  
  nav {
    height: 100vh;
    flex-direction: column;
    display: flex;
    gap: 20px;
    align-items: center;
    top: 0;
    width: 5rem;
    background-color: #fff;
    z-index: 9;
    padding-top: 100px;
  
    .menuIconDiv {
      background: white;
      cursor: pointer;
      box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
      border-radius: 6px;
      padding: 15%;
      width: 2.813rem;
      height: 2.813rem;
  
      &.active {
        background: linear-gradient(to right, #8147a9, #bb044d) !important;
  
        svg {
          fill: #ffffff;
        }
      }
  
      img {
        width: 20px;
        vertical-align: middle;
        height: 80%;
        height: 20px;
      }
  
      .customTool {
        display:none;
        white-space: nowrap;
        position: absolute;
        padding-inline: 20px;
        top: -17px;
        right: 0;
        background-color: #fff;
        border-top-left-radius: 25px;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border: 2px solid #8D3896;
        box-shadow: inset 0px 3px 6px #00000029;
        transform: translateX(100%);
      }
    }
  
    
  }
  
  
  
  @media (max-width: 1000px) {
    nav {
      display: none;
    }
  }
  
  
  // mobileMenus
  
  
  .mobileMenus {
    padding-top: 16px;
    padding-bottom: 20px;
    width: 30%;
    background-color: #fff;
    position: fixed;
    right: 100%;
    top: 0;
    height: 100%;
    z-index: 120;
    
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    transition: left 0.9s ease; /* Add transition for smooth sliding */
  
    &.active {
      right: 0;
    }
  
    .closeMenu {
      position: absolute;
      right: 20px;
      top: 20px;
      font-size: 25px;
    }
  
    .userInfoDiv{
      padding: 20px;
  
      .userImgContainer {
    
        height: 45px;
        width: 45px;
        background-color: white;
        /* border: 2px solid white; */
        border-radius: 50%;
        margin-right: 5px;
        background-color: #2d509f;
        border: 3px solid #2d509f;
  
        img {
          height: 100%;
          width: 100%;
          object-fit: fill;
          border-radius: 50%;
        }
      }
  
      .mobileNavItems{
        gap:10px;
  
        .menuIconDiv {
          border-radius: 12px;
          height: 60px;
          width: 58px;
          background: white;
          box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  
              svg {
                fill:#2063B4;
              }
  
              &:not(:first-child){
                margin-top: 5px;
              }
        }
  
  
      }
  
      p {
        font-size: 16px;
        color: #2d509f;
        font-weight: 700;
        margin-bottom: 0px;
      }
  
      span {
        font-size: 15px;
        color: #2d509f;
        font-weight: 700;
      }
    }
  }
  
  @media (max-width: 767px) {
    .mobileMenus {
      width: 80%;
    }
  }
  
  
  
  // others
  
  .leadershipPosts{
    margin-top: 5px;
    height: 75%;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 110;
    
    &.active {
      display: block;
    }
  }
  
  .customTool {
    display:none;
    white-space: nowrap;
    position: absolute;
    padding-inline: 20px;
    top: -17px;
    right: 0;
    background-color: #fff;
    border-top-left-radius: 25px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 2px solid #8D3896;
    box-shadow: inset 0px 3px 6px #00000029;
    transform: translateX(100%);
  }
  
  
  @media (max-width:400px)
  {
    .dataS {
      height: 60%;
    }
  }
  
  @media (max-width: 767px) {
    .mobileMenus {
      width: 80%;
    }
    .addBtn{
      display: none;
    }
  
    .contributionss{
  
      .headingPart {
        display: block !important;
  
        .btnDiv{
          text-align: right;
  
          button{
            margin-bottom: 10px;
            min-height: 20px;
          }
        }
  
        button{
          margin-bottom: 10px;
          min-height: 20px;
        }
      }
      
    }
    .dataS {
      height: 75%;
    }
    .trendings{
  
      .trendingHead{
        display: block;
      }
    }
  
  }