:root {
    --spacing: 25px;
    --tab-height: 86px;
  }

 .Add-ring{
    position: absolute;
    bottom: 0;
    transform: translateY(50%);
    right: var(--spacing);

    img{
        width: 70px;
    }
 } 

.team-contri-card{
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border-radius: 20px;
    width: 100%;
    min-height: 300px;
    box-shadow: 0px 3px 6px #00000029;
    margin-top: calc(20px + var(--tab-height) / 2);
    position: relative;

    .team-contri-header{
        width: 100%;
        display: flex;
        justify-content: center;

        .team-contri-head{
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: var(--spacing);
            min-height: var(--tab-height);
            margin-top: calc(var(--tab-height)/-2);

    
            .team-contri-tab{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                background: #FFFFFF 0% 0% no-repeat padding-box;
                border-radius: 10px;
                padding: 15px;
                width: 300px;
                max-width: 300px;
                
    
                .tab-data{
                    font-size: 21px;
                    line-height: 28px;
                    letter-spacing: 0;
                    text-align: left;
                    margin-bottom: 0;
                    white-space: wrap;
                    font-weight: 500;
                    width: 50%;
                }
    
                .tab-no{
                    font-size: 38px;
                    line-height: 50px;
                    font-weight: 600;
                    letter-spacing: 0;
                    margin-bottom: 0;
                }
                &.tab-1{
                    border: 2px solid #967B1F;
                    color: #967B1F;
                }
                &.tab-2{
                    border: 2px solid #AF6026;
                    color: #AF6026;
                }
                &.tab-3{
                    border: 2px solid #397304;
                    color: #397304;
                }
                &.tab-4{
                    border: 2px solid #103F74;
                    color: #103F74;
                }
            }
        }
        
    }

    .table-box{
        padding: var(--spacing);
        overflow: hidden;
        .team-contri-table{
            width: 100%;
            max-height: calc(100vh - (200px + 3* var(--spacing) + 90px));
            overflow:scroll ;
    
            table{
                width: 100%;
                tbody{
                    .table-head{
                        position: sticky;
                        top: -1px;
                        z-index: 10;
                        box-shadow: 0px 1px 0px 0px #919191;
                        th{
                            font-size: 18px;
                            line-height: 20px;
                            letter-spacing: 0;
                            font-weight: 500;
                            color: #B30C58;
                            background: #FFFFFF 0% 0% no-repeat padding-box;
                            padding-bottom: 20px;
                            vertical-align: baseline;
                            &:first-child{
                                position: sticky;
                                padding-right: 0;
                                left: -1px;
                            } 
                        }
                        
                    }
        
                    .table-row{
                        td{
                            padding-right: 5%;
                            background: #FFFFFF 0% 0% no-repeat padding-box;
                            vertical-align: baseline;
                            padding-top: 10px;
                            padding-bottom: 50px;
                            
                            &:first-child{
                                position: sticky;
                                padding-right: 0;
                                left: -1px;
                            }
        
                        }
                        
                    }
    
                    .td-md{
                        width: 14%;
                    }
                    .td-sm{
                        width: 7%;
                    }
                }
            }
        }
    }

    
}

/* Tablet ----------------------------------------------- */
@media (max-width: 1200px) and (min-width: 768px) {
    .team-contri-table{
        max-height: calc(100vh - (200px + 5* var(--spacing) + 70px)) !important;
        table{
            
            tr{
                th:first-child{
                    border-bottom: 3px solid #8b8b8b;
                }
                td{
                    padding-right: 3% !important;
                    min-width: 120px;
                    &:last-child{
                        padding-right: 0 !important;
                    }
                }
                .description{
                    min-width: 180px;
                }
            }
        }
    }
}

/* Mobile ----------------------------------------------- */
@media (max-width: 767px) {
    .team-contri-table{
        table{
            tr{
                th:first-child{
                    border-bottom: 3px solid #8b8b8b;
                }
                td{
                    min-width: 120px;
                    &:last-child{
                        padding-right: 0 !important;
                    }
                }
                .description{
                    min-width: 180px;
                }
            }
        }
    }

    .team-contri-tab{
        width: 42% !important;
        flex-direction: column !important;
        .tab-data{
            width: 100% !important;
            text-align: center !important;
        }
        .tab-no{
            font-size: 32px !important;
        }

    }
}


  /* Screen resolution 125% ----------------------------------------------- */
  @media (min-resolution: 1.25dppx) {
    .team-contri-card{
        zoom: 0.9;
    }
    .table-box{
        .team-contri-table{
            min-height: 500px;
        }
        table{
            tr{
                th{
                    white-space: nowrap;
                }
                .td-md{
                    width: 13%;
                }
                .td-sm{
                    width: 8% !important;
                }
            }
        }
    }
  }
  
  /* Screen resolution 150% ----------------------------------------------- */
  
  @media (max-resolution: 1.5dppx) and (min-resolution: 1.3dppx) {
    .team-contri-card{
        .team-contri-header{
            zoom: 0.7;
        }

        .table-box{
            .team-contri-table{
                min-height: 500px;
            }
            zoom: 0.8;
            table{
                tr{
                    th{
                        white-space: nowrap;
                    }
                    .td-md{
                        width: 12%;
                    }
                    .td-sm{
                        width: 9% !important;
                    }
                }
            }
        }

        .Add-ring{
            zoom: 0.8;
        }
    }
   
  }
  