:root {
  --spacing: 25px;
  --formspacing: 20px;
  --formBorderRadius: 20px;
}

.home-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.home-section {
  width: 100%;
  margin-top: 80px;
  overflow-y: scroll;
  padding-inline: var(--spacing);
  overflow-x: hidden;

  

 

  .nuggetSection {
    width: 100%;
    padding-top: var(--formspacing);
    background-color: #ffffff;
    border-radius: var(--formBorderRadius);
    box-shadow: 0px 3px 6px #00000029;

    .nuggetUser {
    padding-inline: var(--formspacing);
      display: flex;
      gap: 10px;
      align-items: center;
      .nuggetUserPhoto {
        width: fit-content;
        border-radius: 50%;
        img {
          width: 70px;
          height: 70px;
        }
      }
      .nuggetUsername {
        display: flex;

        h2 {
          font-size: 20px;
          margin-bottom: 4px;
        }

        p {
          font-size: 12px;
          font-weight: 600;
          margin-bottom: 0px;
        }

        .toolTipIcon {
          width: 13px;
          height: 13px;
          margin-left: 10px;
          margin-top: -5px;
        }
        /* Tooltip container */
        .tooltip-container {
          position: relative;
          display: inline-block;
        }
        .tooltip-content {
          visibility: hidden;
          min-width: 500px;
          background-color: #0000009f;
          color: #fff;
          border-radius: 9px;
          border-top-left-radius: 0px;
          padding: 5px;
          position: absolute;
          z-index: 1;
          top: 40%; /* Position above the image */
          left: 50%;
          margin-left: 10px; /* Adjust this value as needed */
          opacity: 1;
          transition: opacity 0.3s;
          box-shadow: 0px 3px 6px #00000065;
          font-size: 12px;
          font-weight: 500;
        }
        .tooltip-container:hover .tooltip-content {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    .nuggetData {
      display: flex;
      gap: 30px;
      padding-inline: var(--formspacing);
      margin-top: 40px;
      .imageDiv {
        width: 50%;
        border-radius: 22px;
        img {
          width: 100%;
          border-radius: 22px;
        }
      }
      .contentData {
        width: 50%;
        color: #646464;
        p {
          margin-bottom: 0px;
          font-size: 16px;
          font-weight: 500;
        }
        span {
          font-size: 14px;
        }
      }
    }

    .descriptionData {
        margin-inline: var(--formspacing);
      background-color: #f7f7f7;
      padding: 20px;
      margin-top: 20px;
      h1 {
        margin-bottom: 5px;
        font-size: 14px;
        font-weight: 700;
      }
      p {
        margin-bottom: 0px;
        font-size: 14px;
        font-weight: 500;
      }
    }

    .imgDesc {
      margin-top: 20px;
      padding-inline: var(--formspacing);
      .ImgDIV {
        width: 100%;
        text-align: center;
        img {
          max-width: 600px;
          border-radius: 22px;
          margin-bottom: 20px;
        }
      }
      p {
        margin-bottom: 0px;
        font-size: 14px;
        font-weight: 400;
      }
    }

    .actionDiv {
      display: flex;
      padding-inline: var(--formspacing);
      margin-top: 20px;
      justify-content: space-between;
      .viewDoc {
        background-color: #1a5193;
        color: #ffffff;
        border: none;
        border-radius: 29px;
        font-size: 14px;
        font-weight: 500;
        padding-block: 8px;
        padding-inline: 25px;
      }
      .countDivs{
        display: flex;
        gap:20px;
        img{
            width: 22px;
        }
        span{
            font-size: 12px;
            font-weight: 600;
            color: #848484;
        }
      }
    }

    .postsDiv{
        background-color: #F7F7F7;
        width: 100%;
        margin-top: 20px;
        border-bottom-left-radius: var(--formBorderRadius);
        border-bottom-right-radius: var(--formBorderRadius);
        padding-inline: 20px;
        padding-block: 40px;

        .newPost{
            display: flex;
            .userimage{
                width: 60px;
                height: 60px;
            }
            .uploadnewPost{
                width:100%;
                background-color: #ffffff;
                border-radius: 13px;
                position: relative;
                
                textarea{
                    font-size: 14px !important;
                    &:focus{
                        box-shadow: none;
                        border-color: #b5b5b5;
                    }
                    &:focus-visible{
                        outline: none;
                    }
                }
                .postBtn
                {
                    font-size: 14px;
                    color: #0A0A5F;
                    position: absolute;
                    bottom:10px;
                    right:20px;
                    border: none;
                    font-weight: 600;
                    background-color: transparent;

                    &:focus-visible{
                        outline: none;
                    }
                }
            }
        }

        .pastPosts{
          padding-block: 20px;
          .colhidden {
            display: none;
          }

          .seeMore{
            text-align: end;
            button{
              border: none;
              background-color: transparent;
              color: #1A5193;
              font-size: 16px;
              font-weight: 500;
              text-decoration: underline;
            }
          }
          .postCol:nth-child(odd){
            padding-right: 0px;
          }
          .postCol:nth-child(even){
            padding-left: 0px;
          }
          .flexDiv{
            display: flex;
            gap:10px;
            padding-block: 20px;
            border-bottom: 1px solid #8d8d8d;
            
            img{
              width: 50px;
              height: 50px;
            }
            p{
              margin-bottom: 0px;
              font-weight: 600;
            }
            span{
              font-weight: 400;
            }
          }
        }
    }
  }

  @media (max-width: 1100px) {
    .nuggetData {
      display: block !important;
      .imageDiv {
        width: 100% !important;
      }
      .contentData {
        margin-top: 20px;
        width: 100% !important;

        .contentDataCol {
          margin-top: 10px;
        }
      }
    }
    .imgDesc {
      .ImgDIV {
        img {
          max-width: 500px !important;
        }
      }
    }
  }

  @media (max-width: 1300px) {
    .nuggetUsername {
      .tooltip-content {
        min-width: 200px !important;
      }
    }
  }

  @media (max-width: 767px) {
    .imgDesc {
      .ImgDIV {
        img {
          max-width: unset !important;
          width: 100%;
        }
      }
    }
    .actionDiv{
        display: block !important;
        .countDivs{
            margin-top: 20px;
            img{
                width: 25px;
            }
        }
    }
  }
}
