:root {
    --spacing: 25px;
    --tab-height: 86px;
  }

.my-contri-card{
    background: red 0% 0% no-repeat padding-box;
    border-radius: 20px;
    width: 100%;
    min-height: 300px;
    margin-top: calc(var(--tab-height) / 2);

    .my-contri-header{
        width: 100%;
        display: flex;
        justify-content: center;

        .my-contri-head{
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            min-height: var(--tab-height);
            margin-top: calc(var(--tab-height)/-2);

    
            .my-contri-tab{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
                background: #FFFFFF 0% 0% no-repeat padding-box;
                border-radius: 10px;
                padding: 15px;
                min-width: 300px;
    
                .tab-data{
                    font-size: 21px;
                    line-height: 28px;
                    letter-spacing: 0;
                    text-align: left;
                    margin-bottom: 0;
                    white-space: wrap;
                    font-weight: 500;
                    width: 50%;
                }
    
                .tab-no{
                    font-size: 38px;
                    line-height: 50px;
                    letter-spacing: 0;
                    margin-bottom: 0;
                }
                .tab-1{
    
                }
            }
        }
        
    }

    .my-contri-table{
        width: 100%;
        padding: var(--spacing);
        overflow-x:scroll ;

        table{
            width: 100%;
            tbody{
                .table-head{
                    th{
                        font-size: 18px;
                        line-height: 20px;
                        letter-spacing: 0;
                        font-weight: 500;
                        color: #B30C58;
    
                        border: 1px solid #ccc;
                        &:first-child{
                            position: sticky;
                            left: 0;
                        } 
                    }
                    
                }
    
                .table-row{
                    td{
                        border: 1px solid #ccc; 
                        padding-right: 5%;


                        &:first-child{
                            position: sticky;
                            left: 0;
                        }
    
                    }
                    
                }

                .td-md{
                    width: 15.3%;
                }
                .td-sm{
                    width: 7.7%;
                }
            }
        }
        
    }

    
}